<div class="p-6">
    <div class="text-4xl font-bold">
      <span class="text-white">Dash</span>
      <span class="text-[#3D86FB]">8</span>
      <span class="text-white">.</span>
    </div>
    <p class="mt-2 text-base text-gray-400">
      Manage your actions and activities
    </p>
  </div>

  <div class="p-6 pt-0">
    <input
      type="text"
      #txtTagInput
      (keyup.enter)="searchTag()"
      placeholder="Search GIFs..."
      class="w-full p-2 rounded-md bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
    <button (click)="searchTag()" class="mt-2 w-full p-2 rounded-md bg-blue-600 text-white hover:bg-blue-700 transition-colors duration-200">Search</button>
  </div>

  <div class="mt-auto p-6">
    <p class="mb-2 text-sm text-gray-400">
        Welcome back,
    </p>
    <div class="flex items-center">
        <img class="h-10 w-10 rounded-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="Foto de perfil">
        <span class="ml-4 text-base font-semibold text-white">Big Mike</span>
    </div>
  </div>